@model ITAcademy.TaskTwo.Web.ViewModels.SubjectVM.SubjectEdit
@section Title
{
    Редактирование данных о предмете - ITAcademy.TaskTwo.Web
}
<h4>Изменение данных об учебном предмете</h4>
<br />
<form asp-action="Edit" asp-controller="Subject" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <p>
        <label asp-for="Name" class="required"></label><br />
        <input asp-for="Name" class="col-sm-4" />
        <span asp-validation-for="Name"></span><br />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
<p class="text-small"><font class="required">&nbsp;</font> - поле обязательное для заполнения</p>
<p>
    <a asp-action="Details" asp-controller="Subject" asp-route-id="@Model.Id">
        Посмотреть список преподавателей предмета "@Model.Name"
    </a>
</p>
<p>
    <a asp-action="EditAssignedEmployees" asp-controller="Subject" asp-route-id="@Model.Id">
        Изменить список преподавателей предмета "@Model.Name"
    </a>    
</p>

<hr />
<a asp-controller="Subject" asp-action="Index">Вернуться к списку учебных предметов</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}