@using ITAcademy.TaskTwo.Data.Enums
@model ITAcademy.TaskTwo.Web.ViewModels.MessageVM.MessageCreate
@section Title
{
    Создание нового сообщения - ITAcademy.TaskTwo.Web
}
<h4>Введите текст @Model.Type</h4>
<br />
<form asp-action="Create" asp-controller="Message" method="post">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <p>
        <label asp-for="FullName"></label>
        <label class="ml-2"><u>@Model.FullName</u></label><br />
    </p>
    <p>
        <label asp-for="Content" class="required"></label><br />
        <textarea asp-for="Content" class="col-sm-6"
                  maxlength="@Model.MaxLength"
                  placeholder="не более @Model.MaxLength символов"
                  rows="@(Model.Type == MessageType.Sms ? 3 : 7)"></textarea>
        <span asp-validation-for="Content"></span><br />
    </p>
    <input type="hidden" asp-for="@Model.Type" />
    <input type="hidden" asp-for="@Model.AddresseeId" />
    <input type="hidden" asp-for="@Model.MaxLength" />
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
<p class="text-small"><font class="required">&nbsp;</font> - поле обязательное для заполнения</p>

<hr />
<a asp-action="Index" asp-controller="Employee">Вернуться к списку сотрудников</a>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}