@model TaskTwo.Web.ViewModels.PhoneVM.PhoneEdit
@section Title
{
    Изменение номера телефона - ITAcademy.TaskTwo.Web
}
<h4>Изменение номера телефона</h4>
<br />
<form asp-action="Edit" asp-controller="Phone" asp-route-id="@Model.Id" asp-route-method="@Model.Method" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <p>
        <label asp-for="Number" class="required"></label><br />
        <input asp-for="Number" class="col-sm-5" placeholder="+XXXXXXXXXXXX" />
        <span asp-validation-for="Number"></span><br />
    </p>
    <input type="hidden" asp-for="@Model.EmployeeId" />
    <input type="hidden" asp-for="@Model.Method" />
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
<p class="text-small"><font class="required">&nbsp;</font> - поле обязательное для заполнения</p>
<hr />
@if (Model.Method == "Edit")
{
    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.EmployeeId">
        Вернуться к редактированию данного сотрудника
    </a>
}
else
{
    <a asp-controller="Phone" asp-action="Index" asp-route-id="@Model.EmployeeId">
        Вернуться к списку телефонов данного сотрудника
    </a>
}

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}