@using TaskTwo.Data.Enums
@model TaskTwo.Web.ViewModels.PhoneVM.PhoneIndex
@section Title
{
    Список номеров телефона - ITAcademy.TaskTwo.Web
}
@if (Model.Phones.Any())
{
    <h4>Список телефонных номеров сотрудника "@Model.SurName @Model.FirstName @Model.SecondName"</h4>
    <br />
    @if (Model.Communication == MessageType.Sms && Model.Phones.Count > 1)
    {
        <label class="required">Укажите первичный номер телефона для отправки SMS</label>
    }
    <form name="primaryPhone">
        <table>
            @foreach (var phone in Model.Phones)
            {
                <tr>
                    @if (Model.Communication == MessageType.Sms && Model.Phones.Count > 1)
                    {
                        <td>
                            <span class="mr-3">
                                <input name="phoneId" type="radio" value="@phone.Id"
                                       @if (phone.Id == Model.PrimaryPhoneId) { <text> Checked="checked" </text> } />
                            </span>
                        </td>
                    }
                    <td x-ms-format-detection="none"><span class="mr-5">@phone.Number</span></td>
                    <td>
                        <a asp-action="Edit" asp-controller="Phone" asp-route-id="@phone.Id" asp-route-method="Index">Изменить</a> |
                        <a asp-action="Delete" asp-controller="Phone" asp-route-id="@phone.Id" asp-route-method="Index">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </form>
    <br />
    <p>Добавить еще один номер телефона?</p>
}
else
{
    <h4>Сотрудник "@Model.SurName @Model.FirstName @Model.SecondName" успешно добавлен в базу</h4>
    <br />
    <p>Добавить его контактный номер телефона?</p>
}
<form asp-controller="Phone" asp-action="Create"
      asp-route-id="@Model.Id" asp-route-method="Index"
      method="get" class="btn-inline">
    <input type="submit" value="Добавить" />
</form>
<form asp-controller="Employee" asp-action="Index" method="get" class="btn-inline">
    <input type="submit" class="ml-4" value=" Нет" />
</form>
<hr />
<a asp-controller="Employee" asp-action="Index">Вернуться к списку сотрудников</a>

@section scripts {
    <script src="~/js/primaryPhone.js" asp-append-version="true"></script>
}