@model TaskTwo.Web.ViewModels.EmployeeVM.EmployeeDelete
@section Title
{
    Удалить сотрудника из базы - ITAcademy.TaskTwo.Web
}
<h4>Удаление сотрудника из базы</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Фамилия Имя Отчество</dt>
        <dd>
            @Html.DisplayFor(model => model.SurName)
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>Дата рождения</dt>
        <dd>
            @Model.Birth.ToShortDateString()
        </dd>
    </dl>
    <form asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id" method="post" class="btn-inline">
        <input type="submit" value="Удалить" />&nbsp; &nbsp;
    </form>
    <form asp-controller="Employee" asp-action="Index" method="get" class="btn-inline">
        <input type="submit" value="Отмена" />
    </form>
</div>