@using TaskTwo.Data.Enums
@model TaskTwo.Web.ViewModels.EmployeeVM.EmployeeEdit
@section Title
{
    Редактирование данных о сотруднике - ITAcademy.TaskTwo.Web
}
<h4>Измените данные о сотруднике</h4>
<form asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" method="post" name="primaryPhone">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <p>
        <label asp-for="FirstName" class="required"></label><br />
        <input asp-for="FirstName" class="col-sm-4" />
        <span asp-validation-for="FirstName"></span><br />
    </p>
    <p>
        <label asp-for="SecondName"></label><br />
        <input asp-for="SecondName" class="col-sm-4" />
        <span asp-validation-for="SecondName"></span><br />
    </p>
    <p>
        <label asp-for="SurName" class="required"></label><br />
        <input asp-for="SurName" class="col-sm-4" />
        <span asp-validation-for="SurName"></span><br />
    </p>
    <p>
        <label asp-for="Birth" class="required"></label><br />
        <input asp-for="Birth" class="col-sm-4"
               min="@DateTime.Now.AddYears(-80).ToString("yyyy-01-01")"
               max="@DateTime.Now.AddYears(-14).ToString("yyyy-12-31")" />
        <span asp-validation-for="Birth"></span><br />
    </p>
    <p>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="col-sm-4" />
        <span asp-validation-for="Email"></span>
    </p>
    <p>
        <label asp-for="Communication" class="required"></label><br />
        @Html.RadioButtonFor(ee => ee.Communication, "Sms", Model.Communication == MessageType.Sms ? new { Checked = "checked" } : null)
        <span class="ml-3">@MessageType.Sms</span><br />
        @Html.RadioButtonFor(ee => ee.Communication, "Email", Model.Communication == MessageType.Email ? new { Checked = "checked" } : null)
        <span class="ml-3">@MessageType.Email</span>
    </p>
    @if (Model.Communication == MessageType.Sms && Model.Phones.Count > 1)
    {
        <label class="required">Первичный номер телефона для отправки SMS</label>
    }
    else
    {
        <input type="hidden" asp-for="@Model.PrimaryPhoneId" />
    }

    @if (Model.Phones.Any())
    {
        <table>
            @foreach (var phone in Model.Phones)
            {
            <tr>
                @if (Model.Communication == MessageType.Sms && Model.Phones.Count > 1)
                {
                    <td><span class="mr-3">
                        <input name="PrimaryPhoneId" type="radio" value="@phone.Id" id="phoneId"
                               @if (phone.Id == Model.PrimaryPhoneId) { <text> Checked="checked" </text> } />
                    </span></td>
                }
                <td x-ms-format-detection="none"><span class="mr-5">@phone.Number</span></td>
                <td>
                    <a asp-action="Edit" asp-controller="Phone" asp-route-id="@phone.Id" asp-route-method="Edit">Изменить</a> |
                    <a asp-action="Delete" asp-controller="Phone" asp-route-id="@phone.Id" asp-route-method="Edit">Удалить</a>
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <div><em>пусто!</em></div><br />
    }
    <a asp-controller="Phone" asp-action="Create" asp-route-id="@Model.Id" asp-route-method="Edit">
        Добавить новый номер телефон
    </a>
    <br /><br />
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
<p class="text-small"><font class="required">&nbsp;</font> - поле обязательное для заполнения</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/primaryPhone.js" asp-append-version="true"></script>
}