@model IEnumerable<TaskTwo.Web.ViewModels.EmployeeVM.EmployeeIndex>
@section Title
{
    Employee Page - ITAcademy.TaskTwo
}
<div class="d-flex">
    <a asp-controller="Employee" asp-action="Create">Добавить нового сотрудника</a>
    <a class="ml-auto" asp-controller="Account" asp-action="Register">Зарегистрировать нового пользователя</a>
</div>
<br />
<p>
    <input type="text" id="searchString" placeholder="&#x1F50D;  Search" class="form-control" />
</p>
<p style="display: none" class="updated-list">
    Employee list updated. <a href="#" class="updated-list-link">Click here</a> to refresh.
</p>
<table class="table">
    <thead>
        <tr>
            <th>Фамилия Имя Отчество</th>
            <th>Дата рождения</th>
            <th>Email</th>
            <th>Контактные телефоны</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.SurName @employee.FirstName @employee.SecondName</td>
                <td>@employee.Birth.ToShortDateString()</td>
                <td>@employee.Email</td>
                <td x-ms-format-detection="none">
                    @foreach (var phone in employee.Phones)
                    {
                        <div>@phone</div>
                    }
                </td>
                <td>
                    @Html.ActionLink("Сообщение", "Create", "Message", new { id = employee.Id }) |
                    @Html.ActionLink("Изменить", "Edit", new { id = employee.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = employee.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/employeeList.js" asp-append-version="true"></script>
    <script src="~/js/searchEngine.js" asp-append-version="true"></script>
    <script src="~/js/signal.js" asp-append-version="true"></script>
    <script type="text/javascript">
    let renewal = new employeeList({
        links:
            '@Html.ActionLink("Сообщение", "Create", "Message", new { id = "_id_" }) | ' +
            '@Html.ActionLink("Изменить", "Edit", new { id = "_id_" }) | ' +
            '@Html.ActionLink("Удалить", "Delete", new { id = "_id_" })'
    });

    let employeeSearch = new searchEngine({
        searchUrl: '/Employee/Search',
        listUpdater: renewal,
    });

    let updater = new signal({
        methodName: 'UpdateEmployeeList',
        listUpdater: renewal,
        searchOptions: {
            isInSearch: employeeSearch.isInSearch,
            clearSearch: employeeSearch.clearSearch
        }
    });

    updater.startListening();
    </script>
}