@model TaskTwo.Web.ViewModels.PositionVM.PositionEdit
@section Title
{
    Редактирование данных о должности - ITAcademy.TaskTwo.Web
}
<h4>Изменение данных о должности</h4>
<br />
<form asp-action="Edit" asp-controller="Position" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <p>
        <label asp-for="Name" class="required"></label><br />
        <input asp-for="Name" class="col-sm-5" />
        <span asp-validation-for="Name"></span><br />
    </p>
    <p>
        <label asp-for="MaxNumber" class="required"></label><br />
        <input asp-for="MaxNumber" class="col-sm-5" min="1" />
        <span asp-validation-for="MaxNumber"></span><br />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
<p class="text-small"><font class="required">&nbsp;</font> - поле обязательное для заполнения</p>
<p>
    <a asp-action="Details" asp-controller="Position" asp-route-id="@Model.Id">
        Посмотреть список сотрудников, которые занимают должность "@Model.Name"
    </a>
</p>
<p>
    <a asp-action="EditAppointedEmployees" asp-controller="Position" asp-route-id="@Model.Id">
        Изменить список сотрудников, которые занимают должность "@Model.Name"
    </a>
</p>

<hr />
<a asp-controller="Position" asp-action="Index">Вернуться к списку должностей</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}