@model TaskTwo.Logic.Models.PositionDTO.PositionWithEmployees
@section Title
{
    Редактирование списка сотрудников, которые занимают данную должность - ITAcademy.TaskTwo.Web
}
<h4>Отметьте сотрудников, которые занимают должность "@Model.Name"</h4>
<p><em>Максимальное количество штатных единиц - "@Model.MaxNumber"</em></p>
<p><strong>Список сотрудников:</strong></p>

<form asp-action="EditAppointedEmployees" asp-controller="Position" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    @for (var i = 0; i < Model.AllEmployees.Count; i++)
    {
<div>
    <input type="checkbox" asp-for="@Model.AllEmployees[i].Appointed" />
    <label asp-for="@Model.AllEmployees[i].Appointed">
        &nbsp; &nbsp;
        @Model.AllEmployees[i].SurName @Model.AllEmployees[i].FirstName @Model.AllEmployees[i].SecondName
    </label>
    <input type="hidden" asp-for="@Model.AllEmployees[i].Id" />
    <input type="hidden" asp-for="@Model.AllEmployees[i].SurName" />
    <input type="hidden" asp-for="@Model.AllEmployees[i].FirstName" />
    <input type="hidden" asp-for="@Model.AllEmployees[i].SecondName" />
</div>
    }
    <input type="hidden" asp-for="@Model.MaxNumber" />
    <input type="hidden" asp-for="@Model.Name" />
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
<hr />
<a asp-controller="Position" asp-action="Index">Вернуться к списку должностей</a>