@model ITAcademy.TaskTwo.Web.ViewModels.PositionVM.PositionDetails
@section Title
{
    Подробности о должности - ITAcademy.TaskTwo.Web
}
<h4>Подробности о должности</h4>
<br />
<div>
    <dl class="dl-horizontal">

        <dt>Название должности</dt>
        <dd>@Model.Name</dd>

        <dt>Максимальное количество штатных единиц</dt>
        <dd>@Model.MaxNumber</dd>

        <dt>Список сотрудников, которые ее занимают:</dt>
        @foreach (var employee in Model.Employees)
        {
            <dd>@employee.SurName @employee.FirstName @employee.SecondName</dd>
        }

    </dl>
    <p>
        <a asp-action="EditAppointedEmployees" asp-controller="Position" asp-route-id="@Model.Id">
            Изменить список сотрудников на должности "@Model.Name"
        </a>
    </p>
</div>
<hr />
<a asp-controller="Position" asp-action="Index">Вернуться к списку должностей</a>